tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td
		td
		td
		td(style = {
		"text-align": "right",
		"padding-right": "30px"
		}) الأول 
			span(style = {
				"font-weight":"bold" 
			}) اليوم
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px"
}) فترة بعد الظهر
		td(style = {
		"padding-top":"5px"
}) فترة بعد الظهر
		td(style = {
		"padding-top":"5px"
}) فترة بعد الظهر
		td(style = {
		"padding-top":"5px",
		"padding-right": "30px"
}) فترة بعد الظهر

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td  قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم
		td قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم
		td قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم
		td(style = {
		"padding-right": "30px"
		})  قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم

//-----------



//-- blocs part ||
tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td
		td
		td
		td(style = {
		"padding-top": "18px",
		"padding-right":"30px"
		}) الثاني 
			span(style = {
				"font-weight":"bold",
			}) الثاني
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px", 
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px"
}) فترة بعد الظهر
		td(style = {
		"padding-top":"5px"
}) فترة بعد الظهر
		td(style = {
		"padding-top":"5px"
}) فترة بعد الظهر
		td(style = {
		"padding-top":"5px",
		"padding-right":"30px"
}) فترة بعد الظهر


//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td  قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم
		td قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم
		td قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم
		td(style = {
		"padding-right": "30px"
		})  قم بزيارة سوق الذهب في دبي واكتشف أجمل المجوهات والأحجار الكريمة، في واحد من أكبر أسواق الذهب في العالم

//-----------





















