tbody
	tr(style = {
    margin: "0px",
    "direction": "rtl",
    "border-spacing" : "0px",
    padding: '0px',
    "vertical-align": "top"
    })
		td
		td(style = {
	    margin: "0px",
	    "direction": "rtl",
	    "border-spacing" : "0px",
	    padding: '0px'

		})
			table(style={
			width: "240px",
			"direction": "rtl",
			height: "55px",
			background: "url("+Data['heder']['logo']+")",
			"margin-top" : "25px",
			"margin-right" : "30px",
			"background-position": "100% 0%",
			"background-repeat": "no-repeat",
			"background-size": "40%"
			})
	tr(style = {
    margin: "0px",
    "direction": "rtl",
    "border-spacing" : "0px",
    padding: '0px',
    "font-size": "36px",
    "text-align": "right",
    "vertical-align": "top"
    })
		td(style = {
		width:"330px",
		})
		td(style = {
		margin: "0px",
		"direction": "rtl",
		background:"#0090d6",
		"border-radius" :"25px 0 0 0",
		"border-spacing" : "0px",
		height:"75px",
		padding: '0px'
		})
			span(style = {
			"margin-right":"30px",
			"direction": "rtl",
			}) #{Data['heder']['tagline']['ar'][0]}
			br
			span(style = {
			"margin-right":"30px",
			"direction": "rtl",
			"font-weight": "bold"
			}) #{Data['heder']['tagline']['ar'][1]}
		tr
			td(style = {
			"height":"30px"
			})






