tbody(style = {
"margin":"0",
"text-align":"right",
"padding": "0"
})
	tr 
		td(style = {
		"margin":"0",
		"padding": "0",
		"padding-top": "13px",
		"padding-right": "10px",
		}) زيزي المُساف
	tr
		td(style = {
		"margin":"0",
		padding:"0",
		"padding-right": "10px",
		"padding-top": "13px"
		}) شكراً لزيارتك تجربة “ماي دبي”. نتمنّى أن تكون قد استمتعت بزيارتك الافتراضيّة للمدينة. لقد دخلت الآن في السحب لفرصة الفوز بعطلة في دبي 
	tr 
		td(style = {
		"margin":"0",
		"padding": "0",
		"padding-right": "10px",
		}) إليك برنامج رحلات لمدة يومين لتستمتع بعطلة المقبلة في دب
	tr 
		td(style = {
		"margin":"0",
		"padding": "0",
		"padding-top": "13px",
		"padding-right": "10px",
		}) كتشف كلّ ما هو ممكن في دبي
	tr 
		td(style = {
		"margin":"0",
		"padding": "0"
		}) 





