tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td DAY 
			span(style = {
				"font-weight":"bold" 
			}) ONE
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td Cross the Dubai Creek on a
		td Cross the Dubai Creek on a
		td Cross the Dubai Creek on a
		td Cross the Dubai Creek on a

//------------

//-- text block third line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td traditional abra before enjoying 
		td traditional abra before enjoying 
		td traditional abra before enjoying 
		td traditional abra before enjoying 
//-------------

//-- text block fourth line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td lunch in Dubai’s historical district.
		td lunch in Dubai’s historical district.
		td lunch in Dubai’s historical district.
		td lunch in Dubai’s historical district.

//-----------

//-- text block fifth line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td(style = {
		height:"9px"
		})
		td(style = {
		height:"9px"
		})
		td(style = {
		height:"9px"
		})
		td(style = {
		height:"9px"
		})
//------------

//-- blocs part ||
tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td(style = {
		"padding-top": "18px"
		}) DAY 
			span(style = {
				"font-weight":"bold" 
			}) ONE
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px", 
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td Cross the Dubai Creek on a
		td Cross the Dubai Creek on a
		td Cross the Dubai Creek on a
		td Cross the Dubai Creek on a

//------------

//-- text block third line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td traditional abra before enjoying 
		td traditional abra before enjoying 
		td traditional abra before enjoying 
		td traditional abra before enjoying 
//-------------

//-- text block fourth line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td lunch in Dubai’s historical district.
		td lunch in Dubai’s historical district.
		td lunch in Dubai’s historical district.
		td lunch in Dubai’s historical district.

//-----------

//-- text block fifth line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td
		td
		td
		td
//------------























