tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td DAY 
			span(style = {
				"font-weight":"bold" 
			}) ONE
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td(style = {
		"width" :"120px",
		"padding-right":"3px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.
		td(style = {
		"width" :"120px",
		"padding-right":"3px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.
		td(style = {
		"width" :"120px",
		"padding-right":"3px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.
		td(style = {
		"width" :"120px",
		"padding-right":"35px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.


//------------

//-- blocs part ||
tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td(style = {
		"padding-top": "18px"
		}) DAY 
			span(style = {
				"font-weight":"bold" 
			}) ONE
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px", 
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = "../style/img/eightBlocks/NAD/NAD_1_1.jpg", 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning
		td(style = {
		"padding-top":"5px"
}) Early Morning

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td(style = {
		"width" :"120px",
		"padding-right":"3px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.
		td(style = {
		"width" :"120px",
		"padding-right":"3px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.
		td(style = {
		"width" :"120px",
		"padding-right":"3px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.
		td(style = {
		"width" :"120px",
		"padding-right":"35px"
		}) Cross the Dubai Creek on a traditional abra before enjoying lunch in Dubai’s historical district.


//------------



















