tbody(style = {
    "vertical-align": "top"
    })
	tr
		td(style = {
	    padding: '30px 30px 0 0',
	    "text-align": "right"

		})
			img(src=Data['heder']['logo'] style={
			width: "105px"
			})
	tr(style = {
    "vertical-align": "bottom"
    })
		td(style = {
		padding: '0px'
		})
			div(style = {
			 width: "215px",
			background:"#0090d6",
			"border-radius" :"0 0 25px 0",
			"border-spacing" : "0px",
			padding: "5px 30px",
			"line-height": "36px",
			"font-size": "40px",
			"font-family": "Roboto, sans"
			})
				span(style = {
				"font-weight": "300"
				}) #{Data['heder']['tagline']['en'][0]}
				br
				span(style = {
				"font-weight": "700"
				}) #{Data['heder']['tagline']['en'][1]}
		tr
			td(style = {
			height:"30px"
			})





