tbody
	tr(style = {
    margin: "0px",
    "border-spacing" : "0px",
    padding: '0px',
    "vertical-align": "top"
    })
		td
		td
		td(style = {
	    margin: "0px",
	    "border-spacing" : "0px",
	    padding: '0px'

		})
			table(style={
			width: "240px",
			height: "55px",
			background: "url("+Data['heder']['logo']+")",
			"margin-top" : "25px",
			"margin-right" : "30px",
			"background-position": "100% 0%",
			"background-repeat": "no-repeat",
			"background-size": "40%"
			})
	tr(style = {
    margin: "0px",
    "border-spacing" : "0px",
    padding: '0px',
    "font-size": "36px",
    "vertical-align": "top"
    })
		td(style = {
		margin: "0px",
		width: "340px",
		background:"#0090d6",
		"border-radius" :"0 0 25px 0",
		"border-spacing" : "0px",
		height:"75px",
		padding: '0px'
		})
			span(style = {
			"margin-left":"30px",
			}) #{Data['heder']['tagline']['en'][0]}
			br
			span(style = {
			"margin-left":"30px",
			"font-weight": "bold"
			}) #{Data['heder']['tagline']['en'][1]}
		td(style = {
		width:"330px"
		})
		tr
			td(style = {
			height:"30px"
			})





