tbody(style = {
"margin":"0",
"padding": "0"
})
	tr 
		td(style = {
		"margin":"0",
		"padding": "0"
		}) Dear Traveller
	tr
		td(style = {
		"margin":"0",
		padding:"0",
		"padding-top": "15px"
		}) Thank you for visiting the MyDubai Experience. We hope you enjoyed your virtual visit of the city. 
	tr 
		td(style = {
		"margin":"0",
		"padding": "0"
		}) You are now enrolled in a raffle draw to win your holiday in Dubai.
	tr 
		td(style = {
		"margin":"0",
		"padding": "0",
		"padding-top": "15px"
		}) Here’s an exciting two-day stopover itinerary to experience Dubai on your next trip.
	tr 
		td(style = {
		"margin":"0",
		"padding": "0"
		}) Discover all that’s possible. 





