table
	tr
		td
			img(src='https://lh3.googleusercontent.com/FZVFRfR4QD5qvBOJvE_oGzHI0m6xaUXFck6OH3Q2LXW8JzTN1iOhzq1oQPKZ6J6gXbkzED3OsTdAtXLURVHbzUyGFA939xcDEN7lm14lCdY_CFUXwgMZKmAinA2cAi5Ej_EW5zaRhrSplt76RxQDqZSeaoA940pwMX1iHbFDSh_QsS4yDj6-tvFLCpmWg2fe8_BUutumK-RNmUjYR3VdvGGZJ0cnEs6WpzTSMlhZBjoRbpZGUHrXbdl_3MDb0n3qVybn-49_nMi_J3Vb-fAMUEINJIamSys7BBpsbni7jfaQGCXfSlmRM-jwbLIDs6tFOtXa5m6c80lJsZsG71jokxWNmXvkwMh9MfRsE436A7BoQJBfbhwMqY8tNFINkxjpsg_uveOatyEJIVI4F98UC8ae8aqnQlHIjkvp4TDYU9Nvv4ClW1QrcFFgeglsWOcizIS2PY4yTU1aeKhEISdUck82_QSCgPYZDYc8MormiLkFjBs1RG09D6CZ2pGnVliZwfp8ylpt9xHu5xIw6IQW78PUGkMAAXh9au_mjRIk_cIW4U7dFFOAbvUaD_Jw04UO=w1920-h925')
	tr
		td
			div(class=lang)
				span !{lengh['heder'][0]}
				br
				span !{lengh['heder'][1]}
	tr
		td





