doctype html
html(lang="en")
	head
	body(style={
	padding: '0px',  
	border: "0", 
	width: "600px", 
	margin:"0 auto"
	})  
	table(style = {
    margin: "0px",
    padding: '0px',
    width: "600px",
    height: "330px",
    color:"white",
    "border-spacing" : "0px",
    "vertical-align": "top",
    background: "url("+Data['heder']['background']+")"
    })
		include includes/header.pug
	table(style = {
    margin: "0px",
    padding: '0px',
    width: "600px",
    "font-size": "11px",
    "border-collapse": "collapse",
    color:"#000304",
    "border-spacing" : "0px",
    "vertical-align": "top",
    "margin-left":"30px"
    })
		include includes/whiteTextBlock.pug	
	table(style = {
    margin: "0px",
    padding: '0px',
    width: "600px",
    "font-size": "11px",
    "border-collapse": "collapse",
    color:"#000304",
    "border-spacing" : "0px",
    "vertical-align": "top",
    "margin-top":"20px",
    "margin-left":"30px"
    })
		include includes/eightBlocks.pug
		//-- event baners
	table(style = {
    margin: "0px",
    padding: '0px',
    width: "540px",
    height:"165px",
    "vertical-align": "top",
    "margin-top":"30px",
    background: "url("+Data['bigBaner']+")",
    "background-size":"540px",
    "margin-left":"30px"
    })
	//--futer
	table(style = {
	margin: "0px",
	padding: '0px',
	width: "600px",
	height:"30px",
	"font-size" :"16px",
	"border-collapse": "collapse",
	color:"#ffff",
	"border-spacing" : "0px",
	"vertical-align": "center",
	"text-align":"center",
	background:"#008ed5",
	"margin-top":"15px"
	})
		tr 
			td #{Data['futter']['en']}

		block appContent








