td.grid 
	table 
		width: 540px
		font-size: 11px
		margin: 0 auto
		tr 
			td:nth-child(1)
				padding-left: 0
			td:nth-child(4)
				padding-right: 0
			td 
				width: (600px / 4)
				padding: 0 10px
				vertical-align: top

				span
					font-family: Roboto, sans
					font-size: 16px
					color: #51aee1

				img 
					width: 100%
					padding: 6px 0 0 0

				h1 
					font-family: Roboto, sans
					margin: 5px 0 0 0
					color: #0090d6
					font-size: 11px
					padding-right: 30px
					padding: 0
				p
					font-family: Roboto, sans
					margin: 0 0 10px 0
					font-size: 11px
					padding: 2px 0 0 0
				
				