td.footer
    table
        margin: 20px 0 0 0
        text-align: center
        tr:nth-child(1)
            height: 165px
            padding: 30px 0 15px 0
            td
                img
                    width: 540px
                    padding-bottom: 15px

        tr:nth-child(2)
            height: 30px
            background: #008ed5
            text-align: center

            a
                font-size: 16px
                color: #fff
                font-family: Roboto, sans
