.header 
	height: 330px
	vertical-align: top
	background: url(/style/img/topZone/Top_Zone.jpg)
	background-size: 100%

	img
		width: 75px
	
	table 
		height: 100%
		tr:nth-child(1)
			vertical-align: top
			td
				padding: 30px 30px 0 0 
				text-align: right
				img
					width: 105px
				
		tr:nth-child(2)
			vertical-align: bottom
			td
				width: 600px
				div
					width: 215px
					background: #0090d6
					border-radius: 0 0 25px 0
					padding: 5px 30px
					line-height: 36px
					font-size: 40px
					font-family: Roboto, sans
					color: #fff
				
					span:nth-child(1)
						font-weight: 300
		
					span:nth-child(3)
						font-weight: 700
		tr:nth-child(3)
			td
				height: 30px
				





