body
	padding: 0  
	border:  0
	width:   600
	margin:  0 auto
	table
		margin:  0
		padding: 0
		width:  600
		height: 330
		color: white
		border-spacing : 0
		vertical-align: top
		//--background: url("+Data['heder']['background']+")
		background-size: 100%
	.day 
		display: flex
		.block
			margin: 10px

	img
		width: 75px
