head
	link(href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet")
body
	style= style

	table
		tr
			td.header
				include includes/header.pug
		tr
			td.description
				include includes/whiteTextBlock.pug
		tr
			td.grid
				include includes/eightBlocks.pug

		tr
			td.footer
				include includes/footer.pug
		
		
